*{
	padding: 0px;
	margin: 0px;
}
body {
	margin: 0px !important;
  	overflow-y: hidden;  	
	font-family: Arial, Helvetica, sans-serif;
	background-color: #272736;
	
}
.page-container {
  	width: 100%;
	height: 100vh;
	display: flex;
}
.left-bar {
	padding: 1rem;
 	width: 15%;
  	height: 100vh;
}
.left-bar h1 {
  	color: white;
  	margin-top: 0px;
}
ul {
  	list-style-type: none;
	padding: 0px;
}
li {
  	color: white;
  	display: flex;
	flex-direction: column; 
	min-height: 60px;
	height: auto;
	cursor: pointer;
}
li p {
	margin: auto;
	margin-left: 1rem;
}

svg {
  	height: 100%;
  	width: 30px;
  	display: flex;
  	align-items: center; 
  	gap: 8px; 
	padding-left: 12px;
}

.main-menu{
	display: flex;
	margin-bottom: 10px;
}
.content{
	width: 85%;
}
.content h1{
	color: white;
	margin: 0px;
	margin-bottom: 1rem;
}
.content-container{
	background-color:  white;
	height: 100vh;
	overflow-y: auto;
}
.sub-menu{
	display: none;
	background-color: #101016;
	transition: transform 0.3s ease;
}

.sub-menu ul li{
	min-height: 40px;
	margin-left: 1rem ;
	text-align: left;
	justify-content: center;
}
.rotate-down {
  	transform: rotate(90deg);
  	transition: transform 0.3s ease;
}

.save-div{
    height: 10%;
    display: flex;
    padding: 20px 60px 20px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border-bottom: 0px;
    margin-bottom: 0.5rem;
}
.save-div button{
    display: flex;
    border-radius: 0px;
    width: 200px;
    background-color: green;
    color: white;
    align-items: center;
}
.save-div i{
    background-color: green;
    margin-right: 10px;
}
.info-box p{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.save-button button{
    height: 50px;
    box-shadow: none;
    border: none ;
    text-align: center;
}
.infos{
	
}