.page-split{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
    gap: 2rem;
}
.categories{
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;

}
.new-category-input{
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;

}