.item-container {
    border-radius: 10px;
    height: calc(100% - 80px);
    overflow: hidden;
}
.item {
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;
    height: calc(100% - 70px);
}
.append-menu-item{
    height: 10%;
    display: flex;
    padding: 0px 60px 20px 30px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.append-menu-item button{
    display: flex;
    border-radius: 0px;
    width: 200px;
    background-color: green;
    color: white;
    align-items: center;
}
.append-menu-item i{
    background-color: green;
    margin-right: 10px;
}

.table-headers{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 0.75fr 0.75fr .5fr 0.5fr 0.5fr;
    padding: 1rem 0rem 1rem 0rem;
    border: 1px solid #e5e7eb;
    color: #352f36;
}

.table-headers p{
    padding-left: 1rem;
    text-align: left;
    border-right: 1px solid #94989c;
    font-weight: bolder;
    color: #374151; 
}
.menu-items{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 0.75fr 0.75fr .5fr 0.5fr 0.5fr;
    padding: 1rem 0rem;
    border: 1px solid #e5e7eb;
}
.meny-items:hover{
    background-color: #272736;
}
.menu-items button{
    background-color: inherit;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: right;
    padding-right: 1rem;
    height: auto;
    width: auto;
}
.menu-items p{
    border-left: 1px solid white;
    margin-left: 1rem;
    align-items: center;
    color:#374151;
}
.price{
    color: green !important;
    font-weight: bold;
}
.status-active{
    background-color: #d1fae5;
    width: auto !important;
    border-radius: 16px;
    text-align: center;
    width: 50%;   
    color: #065f46 !important;
    font-weight: bold;
}
.status-passive{
    background-color: #fee2e2;
    width: auto !important;
    border-radius: 16px;
    text-align: center;
    width: 50%;   
    color: #991b1b !important;
    font-weight: bold;
}
.menu-input{
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr 0.25fr;
    border-right: 0px;    
    border:1px solid white;
}
.menu-input:last-child{
    border-right: none;
}
.table-input{
    height: 100%;
    border-right: 1px solid white;
}
.table-input input{
    height: 100%;
    display: block;
    background-color: #272736;
    box-shadow: none;
    text-align: center;
    color:white;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 19.2px;
    outline: none;
    padding: 0px;
    margin: 0px;

}
.table-input-save button{
    background-color: inherit;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: right;
    height: auto;
    width: auto;
    height: 100%;
    padding-right: 16px;
}
.table-input-save i{
    background-color: green;    
    height: 100%;
}


.product-container{
    padding: 1rem;
    padding-top: 0rem;
}
.actions{
    display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-container{
    display: none;
    padding: 2rem;
    border: 1px solid #3a3a4e;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    flex-direction: column;
    background-color: #1a1a2e;
    width: 400px;
    border-radius: 15px;
}
.input-container h1{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.input-container p {
    color: white;
    margin-bottom: 1rem;
}
.input-container input{
    margin-bottom: 1rem;
    background-color: #2a2a3e !important;    
    border: 1px solid #3a3a4e;
    width: 100%;
    height: 30px;
    padding-left: 1rem;

    border-radius: 6px;
    color: white;
}
.input-container select{
    margin-bottom: 1rem;
    background-color: #2a2a3e !important;    
    border: 1px solid #3a3a4e;
    width: 100%;
    height: 30px;
    padding-left: 1rem;
    border-radius: 6px;
    color: white;
}
.input-container button{
    background-color: #4f46e5;
    border: none;
}
.two-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.form{
    width: 50%;
}
.action-buttons {
    display: flex;
    justify-content: right;
}
.action-buttons button{
    color: white;
    width: 80px;
    height: 40px;
}
.action-buttons :first-child{
    margin-right: 1rem;
}
.recipe-stock-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(75, 85, 99);
    
}
.recipe-stock-card button{
    background-color: rgb(75, 85, 99);
    width: 100%;
    padding: 1rem;
    color: white;
}
.recipe-active{
    background-color: rgb(31, 41, 55) !important;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.stock-card-active{
    background-color: rgb(31, 41, 55) !important;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}