
.ingredient-headers h1{
    color: black;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 1.5rem;
}


.ingredient{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.25fr 0.25fr;
    padding: 1.5rem 1.5rem; 
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
    gap: 3rem;
}
.ingredient:hover{
    background-color: #e5e7eb;
    transition-duration: 200ms;
}
.ingredient p{
    align-items: center;
    color:#374151;
}
.out-of-stock{
    background: #eed3d3;
    text-align: center;
    border-radius: 16px;
    font-weight: 600;
}
.out-of-stock p{
    color: #991b1b ;
}
.enough-stock{
    background: #d1fae5;
    text-align: center;
    border-radius: 16px;
    font-weight: 600;
}
.enough-stock p{
    color: #065f46;
}
.normal-stock {
    text-align: center;
    border-radius: 16px;
    font-weight: 600;
    background: #fef3c7;  
}
.normal-stock p{
    color: #fa9252; 
}   
